@media(max-width:576px){
    .row4{
        display: flex;
        flex-direction: column;
    }
    .child-4{
        width: 100%;
    }

}
@media (max-width:1200px) {
        .row5{
        display: flex;
        flex-direction: column;
    }
}
@media(max-width:768px){
    .row7{
        display: flex;
        flex-direction: column;
    }
    .row7-child{
        width: 100%;
    }
}